# Build output (C#)
bin/
obj/

.vs/
.vscode/
.idea/

*.user
*.suo
*.log
*.tmp

# Environment
*.env

# Python
__pycache__/
*.pyc


node_modules/
dist/

3-year/ZPG/ZPG/lib/assimp/
3-year/ZPG/ZPG/lib/glew-2.1.0-win32/
3-year/ZPG/ZPG/lib/glfw-3.4.bin.WIN64/
3-year/ZPG/ZPG/lib/glm-1.0.1-light/
3-year/ZPG/ZPG/lib/glm-master/

3-year/ZPG/ZPG/Models/assets/
3-year/ZPG/ZPG/Textures/
